@model Giftify.ViewModels.Account.LoginVM

<div class="col-md-4 offset-md-4 mt-5">
    <h2>Login</h2>
    <form asp-action="Login" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label asp-for="UserName" class="form-label"></label>
            <input asp-for="UserName" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
    </form>

    <hr />
    <form asp-action="ExternalLogin" method="post">
        <button type="submit" name="provider" value="Google" class="btn btn-danger w-100 mb-2">Login with Google</button>
        <button type="submit" name="provider" value="Facebook" class="btn btn-primary w-100">Login with Facebook</button>
    </form>
</div>