@model Giftify.ViewModels.Account.RegisterVM

@{
    ViewData["Title"] = "Register";

}


<form asp-action="Register" method="post" enctype="multipart/form-data">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DateOfBirth"></label>
        <input asp-for="DateOfBirth" type="date" class="form-control" />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProfileImage"></label>
        <input asp-for="ProfileImage" type="file" class="form-control" />
        <span asp-validation-for="ProfileImage" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Street"></label>
        <input asp-for="Street" class="form-control" />
        <span asp-validation-for="Street" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Building"></label>
        <input asp-for="Building" class="form-control" />
        <span asp-validation-for="Building" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AddressNotes"></label>
        <textarea asp-for="AddressNotes" class="form-control"></textarea>
        <span asp-validation-for="AddressNotes" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Register</button>

    <a asp-controller="Account"
       asp-action="Login"
       class="btn btn-secondary mt-3">
        Login
    </a>
</form>